<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mindlift Wellness Newsletter</title>
  </head>
  <body style="font-family: Arial, sans-serif; margin: 0; padding: 0">
    <header
      style="background-color: #f8f9fa; padding: 20px; text-align: center"
    >
      <img
        src="https://mindliftwellness.com/assets/Logo-DQW6cACn.png"
        alt="Mindlift Wellness Logo"
        style="max-width: 200px"
      />
    </header>

    <div style="max-width: 800px; margin: 0 auto; padding: 20px">
      <p>Dear Subscriber<span id="subscriberName"></span>,</p>
      <p>
        Welcome to Mindlift Wellness! We're delighted you've chosen our brand.
        Taking care of your mental health is super important, and that's why
        we're here to help! At Mindlift Wellness, our mission is to make mental
        health easy and accessible for everyone. Here's what you can expect from
        us:
      </p>
      <ul>
        <li>
          <a href="https://mindliftwellness.com/"><b>Easy Online Therapy</b></a
          >: Chat with friendly therapists online whenever you need someone to
          talk to. We're here to listen and support you.
        </li>
        <li>
          <a href="https://mindliftwellness.com/"
            ><strong>Personal Help</strong></a
          >: Our therapists will work with you to find the best solutions for
          your mental health needs. It's like having a personal cheerleader in
          your corner!
        </li>
        <li>
          <a href="https://mindliftwellness.com/"><b>Useful Tips:</b></a> Learn
          simple tricks and tips to boost your mood and reduce stress. We'll
          share practical advice to help you feel better every day.
        </li>
        <li>
          <a href="https://mindliftwellness.com/"><b>Friends to Talk to</b></a
          >: Connect with others who understand what you're going through. Share
          your experiences, ask questions, and find support from a caring
          community.
        </li>
      </ul>
      <p>
        Your mental health matters to us, and we're dedicated to helping you
        feel happier and healthier.
      </p>
      <p>Together, let's take small steps towards a brighter future.</p>
      <p>
        If you need any assistance or help, don't hesitate to reach out to us at
        <a href="mailto:contact@mindliftwellness.com" style="color: #007bff"
          >contact@mindliftwellness.com</a
        >. We're here to support you every step of the way!
      </p>
      <p>
        Thank you for choosing Mindlift Wellness as your mental health
        companion.
      </p>
      <p>Warm regards,</p>
      <p>Mindlift Wellness Team</p>
    </div>

    <footer
      style="background-color: orange; padding: 20px; text-align: center"
    >
      Follow us on social media:
      <a
        href="https://twitter.com/mindliftwellnes"
        style="color: #007bff; text-decoration: none; margin: 0 5px"
        >Twitter</a
      >
      <a
        href="https://www.instagram.com/mindliftwellness"
        style="color: #007bff; text-decoration: none; margin: 0 5px"
        >Facebook</a
      >
      <a
        href="https://www.instagram.com/mindliftwellness"
        style="color: #007bff; text-decoration: none; margin: 0 5px"
        >Instagram</a
      >
      <p className="text-center mt-4">
        Mindlift Wellness is a registered trademark of Mindlift Wellness LLC.
        &copy; 2023-2024 Mindlift Wellness LLC, all right reserved.
      </p>
    </footer>

    <style>
      @media (max-width: 768px) {
        div[style*="padding: 20px;"] {
          padding: 10px;
        }
      }
    </style>
  </body>
</html>
